@charset "utf-8";

blockquote, .title{
    text-align: center;
}

.item1{
    background: white;
}

h3{
    font-size: 20px;
}

blockquote{
    font-style: italic;
    color: grey;
    font-size: 30px;
}

.title{
    padding: 20px;
    font-size: 40px;
}

header{
    position: fixed;
    left:0;
    top:0;
    right:0;
    width:100%;
}

main{
    margin-top: 55px;
}

header{
    position: fixed;
    left:0;
    top:0;
    right:0;
    width:100%;
    height: 47px;
}

main{
    margin-top: 55px;
}

